<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
    <h1 class="title"><%= title %></h1>
    <button onclick="window.location='/signupform'">sign up</button>
    <button onclick="window.location='/login'">login</button>
    <button onclick="window.location='/message'">message</button>
    
  </div>  
  </body>
</html>
